.wrapper {
  max-width: 100%;
  max-height: 100%;
}

@-webkit-keyframes circle {
  0% {
    left: 0;
  }
  100% {
    left: 380px;
  }
}

@keyframes circle {
  0% {
    left: 0;
  }
  100% {
    left: 380px;
  }
}

.content {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content__container {
  padding: 0px;
  margin: 5px auto;
  width: 400px;
  height: 40px;
  background-color: #464644;
}

.content__circle {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  left: 0;
}

.title {
  font-family: Arial;
  font-size: 15px;
  text-align: center;
  background-color: grey;
  margin: 0;
}

.circle1 {
  -webkit-animation: circle 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal none;
          animation: circle 5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal none;
}

.circle2 {
  -webkit-animation: circle 5s cubic-bezier(0.39, 0.575, 0.565, 1) 0s infinite normal none;
          animation: circle 5s cubic-bezier(0.39, 0.575, 0.565, 1) 0s infinite normal none;
}

.circle3 {
  -webkit-animation: circle 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s infinite normal none;
          animation: circle 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s infinite normal none;
}

.circle4 {
  -webkit-animation: circle 5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s infinite normal none;
          animation: circle 5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s infinite normal none;
}

.circle5 {
  -webkit-animation: circle 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s infinite normal none;
          animation: circle 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s infinite normal none;
}

.circle6 {
  -webkit-animation: circle 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s infinite normal none;
          animation: circle 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s infinite normal none;
}

.circle7 {
  -webkit-animation: circle 5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s infinite normal none;
          animation: circle 5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s infinite normal none;
}

.circle8 {
  -webkit-animation: circle 5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s infinite normal none;
          animation: circle 5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s infinite normal none;
}

.circle9 {
  -webkit-animation: circle 5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s infinite normal none;
          animation: circle 5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s infinite normal none;
}

.circle10 {
  -webkit-animation: circle 5s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0s infinite normal none;
          animation: circle 5s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0s infinite normal none;
}

.circle11 {
  -webkit-animation: circle 5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s infinite normal none;
          animation: circle 5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s infinite normal none;
}

.circle12 {
  -webkit-animation: circle 5s cubic-bezier(0.77, 0, 0.175, 1) 0s infinite normal none;
          animation: circle 5s cubic-bezier(0.77, 0, 0.175, 1) 0s infinite normal none;
}

.circle13 {
  -webkit-animation: circle 5s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0s infinite normal none;
          animation: circle 5s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0s infinite normal none;
}

.circle14 {
  -webkit-animation: circle 5s cubic-bezier(0.23, 1, 0.32, 1) 0s infinite normal none;
          animation: circle 5s cubic-bezier(0.23, 1, 0.32, 1) 0s infinite normal none;
}

.circle15 {
  -webkit-animation: circle 5s cubic-bezier(0.86, 0, 0.07, 1) 0s infinite normal none;
          animation: circle 5s cubic-bezier(0.86, 0, 0.07, 1) 0s infinite normal none;
}

.circle16 {
  -webkit-animation: circle 5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0s infinite normal none;
          animation: circle 5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0s infinite normal none;
}

.circle17 {
  -webkit-animation: circle 5s cubic-bezier(0.19, 1, 0.22, 1) 0s infinite normal none;
          animation: circle 5s cubic-bezier(0.19, 1, 0.22, 1) 0s infinite normal none;
}

.circle18 {
  -webkit-animation: circle 5s cubic-bezier(1, 0, 0, 1) 0s infinite normal none;
          animation: circle 5s cubic-bezier(1, 0, 0, 1) 0s infinite normal none;
}

.circle19 {
  -webkit-animation: circle 5s cubic-bezier(0.6, 0.04, 0.98, 0.335) 0s infinite normal none;
          animation: circle 5s cubic-bezier(0.6, 0.04, 0.98, 0.335) 0s infinite normal none;
}

.circle20 {
  -webkit-animation: circle 5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s infinite normal none;
          animation: circle 5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s infinite normal none;
}

.circle21 {
  -webkit-animation: circle 5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s infinite normal none;
          animation: circle 5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s infinite normal none;
}

.circle22 {
  -webkit-animation: circle 5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s infinite normal none;
          animation: circle 5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s infinite normal none;
}

.circle23 {
  -webkit-animation: circle 5s cubic-bezier(0.6, -0.28, 0.735, 0.045) 0s infinite normal none;
          animation: circle 5s cubic-bezier(0.6, -0.28, 0.735, 0.045) 0s infinite normal none;
}

.circle24 {
  -webkit-animation: circle 5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s infinite normal none;
          animation: circle 5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s infinite normal none;
}

.circle25 {
  -webkit-animation: circle 5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s infinite normal none;
          animation: circle 5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s infinite normal none;
}
