/* Очищаем отступы и границы */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
/* Меняем подсчет ширины блока (padding и border включены в размеры блока) */
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* Убираем линии обводки у некоторых браузеров */
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
/* Делаем перечисленные html тэги блочными */
nav,
footer,
header,
aside {
  display: block;
}
/* Уравниваем параметры шрифтов и элементов для разных браузеров */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
/* Делаем чтобы тэги input наследовали семейство шрифта */
input,
button,
textarea {
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
body {
  background-color: #d3d3d3;
  height: 100%;
}
.wrapper {
  width: 90%;
  max-width: 800px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #fff;
  font-family: Arial;
  font-size: 1.5rem;
  line-height: 1.5;
  display: grid;
  grid-template-rows: 3rem 1fr 3rem;
  -ms-grid-rows: 3rem 1fr 3rem;
}
.container {
  width: 100%;
  height: 100%;
  padding: 0 3rem 2rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  -ms-grid-columns: 1fr 3fr;
}
.header {
  width: 100%;
  height: 3rem;
  background-color: #00bfff;
}
.footer {
  width: 100%;
  height: 1.5rem;
  background-color: #00bfff;
}
.left-column {
  padding: 0 1rem 0 0;
}
.right-column {
  padding: 0 0 0 1rem;
}
h1 {
  font-size: 2.5rem;
  margin: 2rem 0 4rem;
  text-transform: uppercase;
}
h2 {
  color: #00bfff;
  margin: 2rem 0 0.5rem;
  font-size: 1.5rem;
}
.icon {
  margin: 0 1rem 0 0;
}
.icon.fa-mobile-alt {
  width: 15px;
  text-align: center;
}
.photo {
  width: 10rem;
  /* height: 10rem; */
  /* background-color: #d3d3d3; */
  margin: 2rem 0;
  border-radius: 50%;
}
.bold-line {
  background-color: #000;
  height: 0.2rem;
  width: 100%;
  margin: 1rem 0 0;
}
.line {
  background-color: #d3d3d3;
  height: 0.2rem;
  width: 100%;
  margin: 1rem 0 0;
}
.unit {
  margin: 0 0 2rem;
}
.title {
  font-weight: 700;
}
.rating {
  display: grid;
  grid-template-columns: 8rem 6rem;
  -ms-grid-columns: 8rem 6rem;
}
.item {
  margin: 0.5rem 0;
}
.grade-1,
.grade-2,
.grade-3,
.grade-4,
.grade-5,
.grade-6 {
  background-color: #d3d3d3;
  width: 6rem;
  height: 0.5rem;
  border-radius: 0.2rem;
  margin: 1.6rem 0 0;
}
.grade-1::before,
.grade-2::before,
.grade-3::before,
.grade-4::before,
.grade-5::before,
.grade-6::before {
  content: "";
  display: block;
  height: 0.5rem;
  border-radius: 0.2rem;
  background-color: #00bfff;
}
.grade-1::before {
  width: 1rem;
}
.grade-2::before {
  width: 2rem;
}
.grade-3::before {
  width: 3rem;
}
.grade-4::before {
  width: 4rem;
}
.grade-5::before {
  width: 5rem;
}
.grade-6::before {
  width: 6rem;
}
a {
  color: #00bfff;
}
