/* Очищаем отступы и границы */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
/* Меняем подсчет ширины блока (padding и border включены в размеры блока) */
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* Убираем линии обводки у некоторых браузеров */
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
/* Делаем перечисленные html тэги блочными */
nav,
footer,
header,
aside {
  display: block;
}
/* Уравниваем параметры шрифтов и элементов для разных браузеров */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
/* Делаем чтобы тэги input наследовали семейство шрифта */
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  overflow: hidden;
}
h1 {
  padding: 25px 0;
  font-size: 40px;
}
.block-form {
  padding: 0 0 0 30px;
}
.block-form__checkbox {
  padding: 0 0 20px 20px;
  position: relative;
}
.block-form__checkbox input {
  width: 0;
  cursor: pointer;
}
.block-form__checkbox input::before {
  content: "";
  width: 50px;
  height: 20px;
  background-color: #c0c0c0;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 25px;
}
.block-form__checkbox input::after {
  content: "";
  width: 30px;
  height: 30px;
  background-color: #c0c0c0;
  position: absolute;
  left: 0;
  top: -5px;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease 0s;
}

.block-form__label {
  padding: 0 0 20px 40px;
  color: #c0c0c0;
  cursor: pointer;
}
.block-form__checkbox input:checked + .block-form__label {
  color: #000;
  transition: all 0.3s ease 0s;
}
.block-form__checkbox input:checked::before {
  background-color: #32cd32;
}
.block-form__checkbox input:checked::after {
  background-color: #32cd32;
  left: 25px;
  transition: all 0.3s ease 0s;
}
.radiobuttons {
  line-height: 30px;
  margin: 10px 0;
}
.radiobuttons__item {
  position: relative;
  padding: 0 0 20px 40px;
}
.radiobuttons__item input {
  width: 0;
  cursor: pointer;
}
.radiobuttons__item input::before {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #c0c0c0;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.radiobuttons__item input::after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #32cd32;
  position: absolute;
  top: 5px;
  left: 5px;
  transform: scale(0);
  transition: all 0.3s ease 0s;
}
.radiobuttons__label {
  color: #c0c0c0;
  cursor: pointer;
}
.radiobuttons__item input:checked + .radiobuttons__label {
  color: #000;
  transition: all 0.3s ease 0s;
}
.radiobuttons__item input:checked::after {
  transform: scale(1);
}
.button {
  font-size: 20px;
  text-transform: uppercase;
  padding: 20px 35px;
  border-radius: 25px;
  letter-spacing: 7px;
  background-color: #c0c0c0;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.button:hover {
  background-color: #32cd32;
  transition: all 0.5s ease 0s;
}
.button:active {
  box-shadow: 0px 0px 0 #32cd32;
  margin: 1px 0 0 1px;
  transition: all 0.2s ease 0s;
}
